.git
.github
.husky

**/node_modules
**/dist
frontend/.next
frontend/out
**/coverage
**/test-results
**/playwright-report
frontend/e2e
backend/test

**/*.md
!infra/README.md
**/*.spec.ts
**/*.test.ts
**/*.e2e-spec.ts
**/*.e2e-spec.tsx

.vscode
.idea
**/*.tsbuildinfo

**/.env
**/.env.*
!**/.env.example
!infra/.env.compose.example
!infra/.env.compose.ci
!infra/.env.supabase.example

**/logs
**/*.log
.DS_Store

docs
